<link rel="import" href="../../../bower_components/google-recaptcha/google-recaptcha.html">

<dom-module id="location-inputs">
    <template>
        <style></style>

        <p>
            <input type="radio" name="degreeOrName" checked="{{cityNameChecked::change}}" /> Zoeken op naam
            <input type="radio" name="degreeOrName" checked="{{degreeChecked::change}}" /> Zoeken op lengte- en breedtegraad
        </p>
        <p hidden$="{{cityNameChecked}}">Breedtegraad: <input type="number" id="lat" value="{{latVal::input}}" /> Lengtegraad: <input type="number" id="long" value="{{longVal::input}}" /></p>
        <p hidden$="{{degreeChecked}}">Stad: <input type="text" id="cityname" value="{{cityName::input}}" /></p>

        <p>
            <google-recaptcha value="{{token}}" sitekey="6LeY7joUAAAAACxMt2iIGSy0c1V6b84M85cWmVF3"></google-recaptcha>
        </p>

        <button disabled$="{{!tokenFilled}}" on-click="searchClicked">Search</button>
    </template>

    <script src="location-inputs.js"></script>
</dom-module>